<ng-container [formGroup]="addressFormGroup">
    <div>
        <label>Address {{ fullAddress }}</label>
        <table>
            <tr>
                <td class="form-label">Street</td>
                <td>
                    <input
                        formControlName="street"
                        class="text-black" />
                </td>
            </tr>
            <tr>
                <td class="form-label">State</td>
                <td>
                    <input
                        formControlName="state"
                        class="text-black" />
                </td>
            </tr>
        </table>
    </div>
</ng-container>
